<div class="field">
  <strong><%= f.label :album_Name %>*</strong>
  <%= f.text_field :name, autofocus: true, class: "form-control" %>
</div>
<br>
<div class="field">
  <%= f.fields_for :images do |image| %>
    <strong><%= image.label :photo %>*</strong>
    <%= image.file_field :photo, multiple: true,name: "images_attributes[photo][]", class: "form-control", required: true %>
  <% end %>
</div>
<br>
<div class="actions">
  <%= f.submit "Submit", class: "btn btn-default btn-primary martop10px" %>
</div>
