<% if @albums.present? %>
	<div class="cate_type margin_top_15px">
		<h3 class="text-center">User Profile</h3>
		<strong>Owner Name:
			<span class= "linkcolor"><%= current_user.name %></span>
		</strong>
		<span class="pull-right">
			<strong>Owner Email:
				<span class= "linkcolor"><%= current_user.email %></span>
			</strong>
		</span>
	</div>
	<% @albums.each do |album| %>
		<div class="cate_type margin_top_15px">
			<div class="col-md-12">
				<div class="borbot1px">
					<%#= link_to(profile_path(album.user)) do %>
					<strong class="pull-right" style="padding-right: 2%">Owner Name:
						<span class= "linkcolor">
							<%= album.user.name.try(:titleize) %>
						</span>
					</strong>
					<%# end %>
					<span>
						<strong>Album Name:</strong>
						<%= link_to album_path(album) do  %>
							<%= album.name.try(:titleize) %>
						<% end %>
					</span>
					&nbsp;
					<strong>
						<i class="fa fa-clock-o" aria-hidden="true" style="font-size:15px" data-toggle="tooltip" title="Create Date"></i> <span class= "linkcolor"><%= formate_datetime(album.created_at) %></span>
					</strong> &nbsp;
				</div>
			</div><br>
			<div class="text-right editdeletbtnholder">
				<% if user_signed_in? && current_user.is_associated_album?(album.user.id) %>
					<span>
						<%= link_to(album_path(album),
						data: {confirm: 'Are you sure?'}, method: :delete) do %>
							<i class="fa fa-trash-o" aria-hidden="true" data-toggle="tooltip" title="Delete"></i>
						<% end %>
					</span>
				<% end %>
			</div>
			<% album.images.each do |img| %>
				<span class="col-md-12">
					<%= image_tag(img.photo_url, class: "imagesize") if img.photo? %>
				</span>
			<% end %>
			<div class="clearfix"></div>
		</div>
	<% end %>
<% else %>
	<h2>No Album Created</h2>
<% end %>
